.button-style{
    background-color: #016068;
    border-color: #016068;
    border-radius: 20px;
    width: 131px;
    height: 37px;
    padding: 7px 31px 7px 31px;
    margin-top: 30px;

    box-shadow: 0px 4px 4px 0px #A0BCC0;

    border: 1px solid #FFFFFF;

    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 23.15px;
    text-align: left;

}

.button-style:hover{
    background-color: #015f68f3;
    border-color: #016068;
}

.signinuser{
    font-family: "Noto Sans",Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 19.07px;
    text-align: left;
    color: #004A54;
    padding-top: 10px;
}
.box-style-user-signup{
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 20px;

    width: 776px;
    /* height: 590px; */
    top: 207px;
    left: 569px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;


    background: linear-gradient(106.59deg, rgba(255, 255, 255, 0.12) -1.85%, rgba(255, 255, 255, 0.04) 97.68%);

    box-shadow: 0px 20px 40px 0px #0000001A;
}
.signup-input-type-change{
    height: 40px;
    border-width: 1px;
    border-radius: 10px;
    border-color: #014E57;
    border: 1px solid #014E57;
}
.link-style-change-user{
    text-decoration: none;
    color: #01515B;
    font-size: 20px;
    font-weight: 500;
}
.p-style-user{
    color: #01515B;
}