.forecast-container{
    background-image: url('../../../Assets/electrifyimg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.forecast-main{
    display: flex;
    align-items: center;
    justify-content: center;

}
.forecast-mainbox{
    width: 1250px;
    min-height: 500px;
    max-height: fit-content;
    background-color: rgba(145, 181, 181, 0.317);
    border-radius: 12px;
    border: 1px solid #ccc;

}
.forecats-box1{
    min-height: 300px;
    max-height: fit-content;
    width: 200px;
    background-color: rgba(127, 255, 165, 0.475);
    margin: 20px;
    border-radius: 20px;

}
.forecast-mainbox h6{
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    color: rgb(73, 6, 181);
    padding-top: 20px;
    text-shadow: 2px 2px 4px rgba(97, 221, 223, 0.8);
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.forecast-cloudimg{
    display: flex;
    align-items: center;
    justify-content: center;

}
.forecats-box1 h3{
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.forecats-box1 p{
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.city-info p{
    font-size: 18px;
    font-weight: 600;
    color: azure;
}