.forecast-container{
    background-image: url('../../../Assets/electrifyimg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.forecast-main{
    display: flex;
    align-items: center;
    justify-content: center;

}
.forecast-mainbox{
    width: 1250px;
    min-height: 500px;
    max-height: fit-content;
    background-color: rgba(145, 181, 181, 0.317);
    border-radius: 12px;
    border: 1px solid #ccc;

}
.forecats-box1{
    min-height: 300px;
    max-height: fit-content;
    width: 200px;
    background-color: rgba(127, 223, 255, 0.475);
    margin: 20px;
    border-radius: 20px;

}
.forecast-mainbox h6{
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}
.forecast-cloudimg{
    display: flex;
    align-items: center;
    justify-content: center;

}