#adminlogin{
    margin: auto;
    text-align: center;
    padding-top: 1.5rem;
    padding-right: 10rem;
}

#adminlogin h1{
    font-size: 25px;
}

.adminimage{
    padding-left: 10rem;
    padding-top: 3rem;
}
.adminimage img{
    height:35rem;
    width: 35rem;
}

