.nav-logo-text-styleadmin-nav{
    font-family: 'Outfit', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.72px;
    letter-spacing: 0.11em;
    text-align: left;
    color: #ffffff;
    padding-left: 20px;
}
.list-items-style{
  font-family: "Noto Sans",sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.52px;
  text-align: left;
  color: #014E57;
}
.padding-links{
  padding-right: 50px;
}
.dropment{
  margin-left: -60px;
}
.dropmentli{
  font-size: 17px;
  font-weight: bold;
}
.dropmentli :hover{
  background-color: rgb(164, 181, 192);
}
.admin-mavmain{
background-color: #00787E !important;
}