.manageuser_bg {
    border-radius: 0px 50px 0px 0px;
    background: #EC574D;
    width: 316px;
    height: 49px;
    flex-shrink: 0;
}

.manageuser_bg_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.5px;
    text-transform: capitalize;
    height: 37.692px;
    flex-shrink: 0;
}

.manageuser_text_head {
    color: #015F67;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.manageuser_text_body {
    color: #015F67;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.manageuser_modal_text {
    color: #015F67;
    font-family: "Noto Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.5px;
    text-transform: capitalize;
}